.page.overlay.oh-no
  .wrapper
    .title
      %h2 Oh no!
    :markdown
      We're so amped you're here. But we're currently out of internets.

      Do not panic. We've sent our intern, John, down to the store to get us some more. He is *very* reliable.

      We'll let you know when we're back online via [@wearebrightly](http://twitter.com/wearebrightly) or you should 100% [contact us](mailto:beginnings@wearebrightly.com) directly if you're grumpy.

    .center.divider
      %a.button.success{href: "/map"}
        Jump back to the map

%footer
  = render partial: "core/links"
