%table.table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "480", :align => "center"}
  %tr
    %td
      %span{style: "font-family: Georgia, serif; font-size: 18px; line-height: 20px;"} Omg! You win
      %span{style: "font-family: Georgia, serif; font-style: italic; font-size: 18px; line-height: 20px;"} the Beginnings & Endings project.

      %img.spacer{:height => "10", :src => "http://files.wearebrightly.com/beginnings/email/spacer.gif", :width => "480"}/

      %span{style: "font-family: Georgia, serif; font-size: 14px; line-height: 20px;"} Well, you can’t really lose, but you did get a free copy of our new album!

      %img.spacer{:height => "10", :src => "http://files.wearebrightly.com/beginnings/email/spacer.gif", :width => "480"}/

      %a{href: "http://music.wearebrightly.com/yum/?code=#{@download}", style: "display: block; border: none;"}
        %img{:style => "vertical-align: bottom;", :height => "480", :src => "http://files.wearebrightly.com/beginnings/email/beginnings-and-endings.jpg", :width => "480"}/

      %a{href: "http://music.wearebrightly.com/yum/?code=#{@download}", style: "font-size: 14px; background: #f3cd00; text-decoration: none; color: #000; padding: 8px 0; display: block; text-align: center;"}
        %span{style: "font-family: Georgia, serif; font-style: italic;"} Download
        %span{style: "font-family: Helvetica, Arial, sans-serif; text-transform: uppercase; font-weight: bold;"} Beginnings & Endings

      %img.spacer{:height => "10", :src => "http://files.wearebrightly.com/beginnings/email/spacer.gif", :width => "480"}/

      %span{style: "font-family: Georgia, serif; font-size: 14px; line-height: 20px;"}
        Thank you
        %em so much
        for supporting us, and for sharing our music. You are pretty much the best.

      %img.spacer{:height => "10", :src => "http://files.wearebrightly.com/beginnings/email/spacer.gif", :width => "480"}/

      %span{style: "font-family: Georgia, serif; font-size: 14px; line-height: 20px;"}
        Imagine us high fiving you,
        %em right now.

      %img.spacer{:height => "10", :src => "http://files.wearebrightly.com/beginnings/email/spacer.gif", :width => "480"}/

      %span{style: "font-family: Georgia, serif; font-size: 14px; line-height: 20px;"}
        So, wondering how far your code travelled?

      %img.spacer{:height => "10", :src => "http://files.wearebrightly.com/beginnings/email/spacer.gif", :width => "480"}/

      %a{href: "http://beginnings.wearebrightly.com/map/#{@code}", style: "font-size: 14px; background: #f3cd00; text-decoration: none; color: #000; padding: 8px 0; display: block; text-align: center;"}
        %span{style: "font-family: Georgia, serif; font-style: italic;"} Track your
        %span{style: "font-family: Helvetica, Arial, sans-serif; text-transform: uppercase; font-weight: bold;"} code
