%table.table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "480", :align => "center"}
  %tr
    %td
      %span{style: "font-family: Georgia, serif; font-size: 18px; line-height: 20px;"} Thanks for joining
      %span{style: "font-family: Georgia, serif; font-style: italic; font-size: 18px; line-height: 20px;"} the Beginnings & Endings project.

      %img.spacer{:height => "10", :src => "http://files.wearebrightly.com/beginnings/email/spacer.gif", :width => "480"}/

      %span{style: "font-family: Georgia, serif; font-size: 14px; line-height: 20px;"} First off, here is your free download of our new single, Preflight Nerves.

      %img.spacer{:height => "10", :src => "http://files.wearebrightly.com/beginnings/email/spacer.gif", :width => "480"}/

      %a{href: "http://music.wearebrightly.com/yum/?code=#{@download}", style: "font-size: 14px; background: #f3cd00; text-decoration: none; color: #000; padding: 8px 0; display: block; text-align: center;"}
        %span{style: "font-family: Georgia, serif; font-style: italic;"} Download
        %span{style: "font-family: Helvetica, Arial, sans-serif; text-transform: uppercase; font-weight: bold;"} Preflight Nerves

      %img.spacer{:height => "10", :src => "http://files.wearebrightly.com/beginnings/email/spacer.gif", :width => "480"}/

      %span{style: "font-family: Georgia, serif; font-size: 14px; line-height: 20px;"}
        Easy as! Next up, give your friends you
        %em super sharable link below:

      %span{style: "display: block; font-family: Georgia, serif; font-style: italic; font-size: 120px; line-height: 160px; text-align: center;"}= @code
      %span{style: "font-family: 'Courier New', monospace; font-size: 14px; background: #fff; border: 1px solid #efefef; text-decoration: none; color: #000; padding: 8px 0; display: block; text-align: center;"} http://beginnings.wearebrightly.com/join/#{@code}

      %img.spacer{:height => "40", :src => "http://files.wearebrightly.com/beginnings/email/spacer.gif", :width => "480"}/

      %span{style: "font-family: Georgia, serif; font-size: 14px; line-height: 20px;"}
        %strong When ten friends share using your code, you get the album free.

      %img.spacer{:height => "10", :src => "http://files.wearebrightly.com/beginnings/email/spacer.gif", :width => "480"}/

      %span{style: "font-family: Georgia, serif; font-size: 14px; line-height: 20px;"} And if you want to check out your progress, and see how many people have used your code, you totally can. It’s super simple. Check out the the link below.

      %img.spacer{:height => "10", :src => "http://files.wearebrightly.com/beginnings/email/spacer.gif", :width => "480"}/

      %a{href: "http://beginnings.wearebrightly.com/map/#{@code}", style: "font-size: 14px; background: #f3cd00; text-decoration: none; color: #000; padding: 8px 0; display: block; text-align: center;"}
        %span{style: "font-family: Georgia, serif; font-style: italic;"} Track your
        %span{style: "font-family: Helvetica, Arial, sans-serif; text-transform: uppercase; font-weight: bold;"} code
