:markdown
  ## Hello friend.

  We are so, so excited that you're here.

  We are genuinely thrilled. But we are also, sadly, deeply apologetic. It looks like you're using *Internet Explorer 9 or below*.

  The good news is, you can just download a *fancier web browser* and be on your merry way.

  Here are some great ones:

  - [Google Chrome](http://google.com/chrome)
  - [Mozilla Firefox](http://getfirefox.com)
  - [Internet Explorer 10](http://ie.microsoft.com/testdrive/Info/Downloads/Default.html)

  We miss you already, but we'll see you soon.

  *Brightly.*
