%header
  %h1
    %span.bookend The
    %a{href: "/map"}
      %div.line Beginnings
      %div.line
        %span.ampersand &
        Endings
    %span.bookend Project
  %a.ss-icon.help{href: "/help"} &#x2753;
