.links
  .social.push-left
    .twitter
      %a.twitter-follow-button.left{"data-via" => "wearebrightly", "href" => "https://twitter.com/wearebrightly", "data-show-count" => "false"} Follow @wearebrightly
      %script{:src => "http://platform.twitter.com/widgets.js", :type => "text/javascript"}
    .facebook
      %script{:src => "//connect.facebook.net/en_US/all.js#xfbml=1&appId=255477521158048&status=true&cookie=true"}
      .fb-like{"data-href" => "http://facebook.com/wearebrightly", "data-send" => "false", "data-layout" => "button_count", "data-width" => 90, "data-show-faces" => "false"}

  %a.push-right.logo{href: "http://wearebrightly.com"} wearebrightly.com
