.wayfinder.padded
  .wrapper
    .grid
      %ul.quarters
        %li.column
          %span.ss-icon &#xE350;
          %h3 Want to join?
          %p
            Sign up and get a code, and a free copy of our new single,
            %span.highlight Preflight Nerves
        %li.column
          %span.ss-icon &#x1F465;
          %h3 Share the love
          %p Plot yourself on the map then share your code so friends can join your journey
        %li.column
          %span.ss-icon &#x266B;
          %h3 Get the album
          %p
            If ten friends join in you get a free copy of our new album
            %span.highlight Beginnings & Endings
        %li.column
          %span.ss-icon &#xE673;
          %h3 Track your code
          %p Check back and see how far your code has travelled, and where it ended up
